#header {
    background: linear-gradient(90deg, #120b24, #0b0b14);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 47px;
}

.nav {
    display: flex;
    gap: 28px;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    position: relative;
    transition: color 0.3s;
}

.nav a:hover {
    color: #ffffff;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #000eb1;
    transition: width 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header-actions ion-icon {
    font-size: 27px;
    color: #cfcfe4;
    width: 46px;
    height: 24px;
    cursor: pointer;

}

.wallet-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 25px;
    border: 1px solid #3d469f;
    background: transparent;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}
.wallet-btn:hover {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 25px;
    border: 1px solid #2c36aa;
    background: #ffffff;
    color: #6e2eba;
    font-size: 17px;

    cursor: pointer;
    transition: 0.3s;
}

.wallet-btn ion-icon:hover  {
    color: #1d269a;
}
.ion-sun {
    background-color: #706b6b;
    height: 33px;
    width: 58px;
    border-radius: 10%;
}