* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
body {
    overflow-x: hidden;
}
