* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
body {
    overflow-x: hidden;
      background: linear-gradient(135deg, #1e1b4b 0%, #581c87 50%, #1e1b4b 100%);
}
